@CHARSET "UTF-8";

.font_1 {font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;color:#353535;} 
.font_2 {font: normal normal normal 60px/1.4em museo-slab-w01-100,serif ;color:#6B6B2E;} 

.font_3 {
	font: normal normal normal 13px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif ;color:#353535;} 
.font_4 {font: normal normal normal 25px/1.4em museo-slab-w01-100,serif ;color:#353535;font-weight: bold;}
.font_5 {font: normal normal normal 20px/1.4em museo-slab-w01-100,serif ;color:#353535;font-weight: bold;}
.font_6 {font-family: Blippo, fantasy;font-size: 60px;}
.font_7 {font-family: Blippo, fantasy;font-size: 20px;margin-left: 60px; text-align:left;color:#5B3481;}
.font_8 {font: normal normal normal 15px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif ;
margin: 20px 0 0 60px; text-align:left; color:#5B3481;}
.font_9 {font: normal normal normal 15px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif ;
margin: 20px 0 0 60px; text-align:left; color:#c97e87;}

.color_1 {color: #6B6B2E;}
.color_2 {color: #3284A8;}
.color_3 {color: #666666;}

/* Set the main div of author.jsp*/
.div1{
	width: 980px; height: 777px; 
  	margin:0 auto;
}

.div2{
	top: 0px; width: 980px; height: 55px;
	background-color: #ffffff;
	margin:0 auto;
}	

 /* Set the body of author.jsp*/
.div3{
	top: 55px; width: 980px; height: 634px;
	overflow:hidden;
	background-color: rgba(255, 255, 255, 0.6);
	} 

/* Set style of footer*/
.div4{
	width: 980px;height: 88px; bottom: auto; top: 689px;
	background-color: #ffffff;
	text-align: right;
	padding-top: 20px;
}

.div5{ 
	padding-right: 15px;
	display:inline-block;  
    _display:inline;  
    *display:inline;  
    color:#6B6B2E;
    }

.div51{ 
	padding-right: 15px;
	display:inline-block;  
    _display:inline;  
    *display:inline;  
    color:#5B3481;
    }    
 
.div6{ text-align:center; clear:both;padding-top: 30px;}

/* set style of img*/
.div7{
	padding-right: 15px;
	display:inline-block;  
    _display:inline;  
    *display:inline;  
	width:193px;height:193px;
	}

/* Set the text div of author.jsp*/
.div8{
	display:inline-block;  
    _display:inline;  
    *display:inline;  
	width:360px;height:300px;
	text-align:left;
}

/* Set the main div of use.jsp*/
.div9{
  	margin:0 auto;
	width: 980px;  height: 1300px;
}

/* Set the body of use.jsp*/
.div10{
	overflow:hidden;
	background-color: rgba(255, 255, 255, 0.6);
	top: 55px; width: 980px; height: 1257px; 
	text-align: left;
}

/* Set the body content of use.jsp*/
.div11{
	margin-right: 30px;
	margin-left: 30px;
}

/* Set the main div of index.jsp*/
.div12{
	margin:0 auto;
	width: 980px; height: 1500px; 
}

/* Set the body of index.jsp*/
.div13{
	background-color: rgb(242, 240, 240);
	top: 55px; 
	width: 980px; height: 1412px;
	text-align: center;
}

/* Set the text div of index.jsp */
.div14{
	display:inline-block;  
    _display:inline;  
    *display:inline;  
	width:510px;height:200px;
	text-align: left;
	margin-right: 30px;
}

/* Set the img div of index.jsp*/
.div15{	
	display:inline-block;  
    _display:inline;  
    *display:inline;  
	width:300;height:200px;}
	

/* Set the body content of index.jsp*/
.div16{	padding-top: 30px;}

#authorHr{ width: 60%; color: black;height:1px;}
#indexHr{
	border: 0; 
  	height: 1px; 
  	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#imgAuthor{width: 193px; height: 193px; object-fit: cover;}
#imgUniversityIcon{width: 300px; height: 170px; object-fit: cover;}

.bodyBackground{
 	background-color: rgb(169, 146, 222); 
	background-size: auto; 
	background-position: center center; 
	background-repeat: repeat;
	text-align: center;
	background-image: url('../img/background.png'); 
}

#indexBackground{
	background-color: rgb(194, 196, 196);
	margin: 0;
    padding: 0;
}

#pictureStrip{ 
    background-image:url('../img/background.png');
    background-color:rgb(169, 146, 222);
    height:320px;
    width:100%;
    margin:0 auto; 
    text-align: center;
    vertical-align: middle;
    line-height: 320px; 
}



