@CHARSET "UTF-8";

.dropSelect {
    
    font-size: 16px;
    border: none; 
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
    cursor: pointer;
 	background-color: #D8CEF6;
 	color: #7C34A3;
	/* margin: 0 0 0 10px;  */
}


.dropdown{
	width: 100px;
	background-color: #D8CEF6;
	text-align: right;
	padding:10px 5px 10px 20px; 
	border-radius:5px;
}

.dropdownCell{
	background-color: #f3cac9;
}

/* .dropP{
  	float: left;
  	line-height:10px;
  	vertical-align: middle;
	font-size: 16px;
  	color:#ffffff; 
} */

#inputField{
  	height: 40px;
	margin: 2px 0 0 10px; /* top right bottom left*/
  	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
}

.backgroundDropdown{
	background-color: #f3cac9;color: #911716;
}

input[type="text"] {
	padding: 10px;
	border: solid 1px #afafaf;
	border-radius:5px;
}


/* table design */
.tableBody
{
	line-height: 1.6em;
}

#queryTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background-color: rgb(242, 240, 240);
	margin: 0 60px 0 65px;
	width: 850px;
	border-collapse: collapse;
	text-align: left;
}
#queryTable th
{
	font-size: 14px;
	font-weight: normal;
	color: #7C34A3;
	padding: 10px 8px;
	border-bottom: 2px solid #60128B;
}

#queryTable td
{
	color: #8F62A7;
	padding: 9px 8px 0px 8px;
	border-bottom:thin solid #d8cef6;
}
#queryTable tbody tr:hover td
{
	color: #8936B5;
}

#deleteImg{
	width: 15px;
	height: 15px;
}

#runQuery{
	background-color: #fdb221;
	color: #ffffff;
	border-radius:5px;
	border: none;
	margin: 5px;
}

.fileButton{
	background-color: #693794;
	color: #ffffff;
	border-radius:5px;
	border: none;
	margin: 20px 0 20px 20px;
	padding: 10px 30px 10px 30px;
	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
	font-size: 16px;
	text-decoration:none;
}

/* constraint table design */
.consTable{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background-color: rgb(242, 240, 240);
	margin: 0 60px 0 65px;
	width: 850px;
	border-collapse: collapse;
	text-align: left;
}

.consTable th
{
	font-size: 14px;
	font-weight: normal;
	color: #7C34A3;
	padding: 10px 8px;
	border-bottom: 2px solid #60128B;
}

.consTable td
{
	color: #8F62A7;
	padding: 9px 8px 0px 8px;
}

.consTableCell th{
	color: #914f56;
	border-bottom: 2px solid #780d3f;
}

.consTableCell td{
	color: #7d5057;
}




/* tabs*/
.container{
	margin: 20px 60px 0px 60px;
	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
	line-height: 1.6;
	width: 850px;
	text-align: left;
	padding-bottom:40px;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
	display: inline-block;
	padding: 5px 15px 2px 15px;
	cursor: pointer;
	color: #fff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.tab-link.current{background-color: #693794;}
.tab-link{background-color: #b6b6b6;}

.tab-content{
	display: none;
	padding: 15px;
	border: 1px solid #693794;
	background-color: #fff;
	height: 700px;
	overflow-y: scroll;
	overflow-x: scroll;
}

.tab-content.current{
	display: inherit;
}

#QueryText{
	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
	font-size:16px;
	color: #693794;
	text-align: left;
	margin: 10px 60px 10px 60px;
}

.queryItemDelete{
	width: 15px;
	height: 15px;
}

#radioButtonDiv{
	margin:40px 0 10px 65px;
	font-size: 17px; 
	color:#7C34A3; 
	text-align: left;

}

#historyTable{
	margin-top: 20px;
	height:250px;
	width: 920px;
	overflow-y:scroll;
	overflow-x: hidden;
}

.textResultTable tr:nth-child(even) {background-color:#F0EEF1;}
.textResultTable th{background-color:#d8d8d8;}
.textResultTable td{
	padding-left:5px;    
	overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    }
    
.textResultTable th{padding-left:5px;}

a.pmcidResult:link {color:#794ad0;}
a.pmcidResult:visited{color:#d8cef6;}

a.tableResult{color:#794ad0;text-decoration: underline;}

.tableResultTd0{width: 75px;}
.tableResultTd{width: 100px;}
.tableResultTd1{width: 200px;}
.tableResultTd2{width: 250px;}
.tableResultTd3{width: 700px;}

#cellResultTable{
	width: 1200px;
}

#historyButton{
	height: 70px;
}
