@CHARSET "UTF-8";

.dropSelect {
	
   	background-color: #8963B7;
    color: white;
    font-size: 16px;
    border: none;    
    cursor: pointer;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
	margin: 0 0 0 10px; 
}

#dropholder{
	background-color: #8963B7;
  	width: 190px;
  	height: 40px;
	margin: 0 0 0 20px; /* top right bottom left*/
  	padding:0 0 0 10px;
  	border-radius:5px;
  	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
  	vertical-align: middle;
}

.dropdown{
	font-size: 16px;
  	color:#fff;  	
	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 	
   	margin-left:10px;
  	float: left;
  	width: 100px;
  	padding:10px 0 10px 0; 	
  	border-radius:0 5px 5px 0;
  	border-left:1px solid #ffffff;
  	text-align: right;
  	position: relative;
}

.dropP{
  	float: left;
  	line-height:10px;
  	vertical-align: middle;
	font-size: 16px;
  	color:#ffffff; 
}

#inputField{
	width: 190px;
  	height: 40px;
	margin: 2px 0 0 20px; /* top right bottom left*/
  	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
}

.backgroundDropdown{
	background-color: #ea808f;
}

input[type="text"] {
	padding: 10px;
	border: solid 1px #afafaf;
	border-radius:5px;
}


/* table design */
.tableBody
{
	line-height: 1.6em;
}

#queryTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background-color: rgb(242, 240, 240);
	margin: 20px 60px 0 65px;
	width: 850px;
	border-collapse: collapse;
	text-align: left;
}
#queryTable th
{
	font-size: 14px;
	font-weight: normal;
	color: #7C34A3;
	padding: 10px 8px;
	border-bottom: 2px solid #60128B;
}

#queryTable td
{
	color: #8F62A7;
	padding: 9px 8px 0px 8px;
}
#queryTable tbody tr:hover td
{
	color: #8936B5;
}

#deleteImg{
	width: 10px;
	height: 10px;
}

#runQuery{
	background-color: #5BB069;
	color: #ffffff;
	border-radius:5px;
	border: none;
	margin: 5px;
}

#fileButton{
	background-color: #8963B7;
	color: #ffffff;
	border-radius:5px;
	border: none;
	margin: 20px 0 20px 50px;
	padding: 10px 30px 10px 30px;
	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
	font-size: 16px;
}


/* tabs*/
.container{
	margin: 20px 60px 20px 60px;
	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif; 
	line-height: 1.6;
	width: 850px;
	text-align: left;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
	display: inline-block;
	padding: 5px 15px 2px 15px;
	cursor: pointer;
	color: #fff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.tab-link.current{background-color: #8963B7;}
.tab-link{background-color: #b6b6b6;}

.tab-content{
	display: none;
	padding: 15px;
	border: 1px solid #8963B7;
	background-color: #fff;
	height: 400px;
	
}

.tab-content.current{
	display: inherit;
}

#QueryText{
	font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
	font-size:16px;
	color: #8963B7;
	text-align: left;
	margin: 10px 60px 10px 60px;
}