@CHARSET "UTF-8";

#tab-2 label {
   font-family: "Roboto", helvetica, arial, sans-serif;
   font-size: 20px;
   font-weight: bold;
   color: #5e3c87;  
}

#tab-2 p{
	font-family: "Roboto", helvetica, arial, sans-serif;
   	font-size: 16px;
   	color: #5e3c87; 
}

#tab-2 table-wrap-foot{
	font-family: "Roboto", helvetica, arial, sans-serif;
   	font-size: 16px;
   	color: #5e3c87; 
}
